.main ul li{
    list-style-type: none;
  
    flex-direction: row;

}
.main{
   
    width: 100%;
    height: 60px;
    border: 1px solid wheat;
    display: flex;
    flex-direction: column;
    background-color: red;
}
.main ul{
    display: flex;
    gap: 30px;
    margin-left: 65%;
    font-size: 30px;
    margin-top: 15px;
}