.container {
  font-family: sans-serif;
  text-align: center;
  padding: 60px;
  width: 180px;
  height: 180px;
  border: 5px solid black;
  text-align: center;
  justify-content: center;
  background-color: lightgoldenrodyellow;
  border-radius: 20px;
  margin: 100px;
  box-shadow: lightgray;
}
.content {
  font-size: 48px;
  color: red;
  margin-top: -10px;
}
.btn2 {
  padding: 20px;
  border: 4px solid blue;
  font-size: 25px;
  font-weight: bold;
  border-radius: 15px;
  background-color: yellow;
  margin-top: -10px;
}
